#BODY_1 {
    box-sizing: border-box;
    height: 1271.53px;
    min-width: 1024px;
    width: 1518.4px;
    perspective-origin: 759.2px 635.763px;
    transform-origin: 759.2px 635.763px;
    font: normal normal 400 normal 16px / 16px Arial, Helvetica, sans-serif;
    margin: 0px;
}/*#BODY_1*/

#BODY_1:after {
    font: normal normal 400 normal 16px / 16px Arial, Helvetica, sans-serif;
}/*#BODY_1:after*/

#BODY_1:before {
    font: normal normal 400 normal 16px / 16px Arial, Helvetica, sans-serif;
}/*#BODY_1:before*/

#DIV_2 {
    box-sizing: border-box;
    height: 1271.53px;
    width: 100%;
    perspective-origin: 759.2px 635.763px;
    transform-origin: 759.2px 635.763px;
    font: normal normal 400 normal 16px / 16px GTW;
    overflow: hidden;
}/*#DIV_2*/

#DIV_2:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_2:after*/

#DIV_2:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_2:before*/

#HEADER_3 {
    box-sizing: border-box;
    height: 0px;
    width: 1518.4px;
    perspective-origin: 759.2px 0px;
    transform-origin: 759.2px 0px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#HEADER_3*/

#HEADER_3:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#HEADER_3:after*/

#HEADER_3:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#HEADER_3:before*/

#NAV_4 {
    bottom: 377.4px;
    box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px 0px;
    box-sizing: border-box;
    height: 85px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 1518.4px;
    z-index: 1003;
    perspective-origin: 759.2px 42.5px;
    transform-origin: 759.2px 42.5px;
    background: rgba(51, 51, 51, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 500 normal 16px / 16px GTW;
    transition: all 0.3s ease 0s;
}/*#NAV_4*/

#NAV_4:after {
    font: normal normal 500 normal 16px / 16px GTW;
}/*#NAV_4:after*/

#NAV_4:before {
    font: normal normal 500 normal 16px / 16px GTW;
}/*#NAV_4:before*/

#UL_5 {
    box-sizing: border-box;
    display: flex;
    height: 85px;
    width: 1024px;
    align-items: center;
    justify-content: space-between;
    perspective-origin: 512px 42.5px;
    transform-origin: 512px 42.5px;
    font: normal normal 500 normal 16px / 16px GTW;
    list-style: none outside none;
    margin: 0px 247.2px;
    padding: 0px 20px;
}/*#UL_5*/

#UL_5:after {
    font: normal normal 500 normal 16px / 16px GTW;
    list-style: none outside none;
}/*#UL_5:after*/

#UL_5:before {
    font: normal normal 500 normal 16px / 16px GTW;
    list-style: none outside none;
}/*#UL_5:before*/

#LI_6 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 66.0875px;
    perspective-origin: 33.0375px 42.4px;
    transform-origin: 33.0375px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_6*/

#LI_6:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_6:after*/

#LI_6:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_6:before*/

#A_7 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 66.0875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 33.0375px 42.4px;
    transform-origin: 33.0375px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_7*/

#A_7:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 66.0875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 33.0375px 1px;
    transform-origin: 33.0375px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgba(191, 150, 65, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_7:after*/

#A_7:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_7:before*/

#LI_8 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 37.475px;
    perspective-origin: 18.7375px 42.4px;
    transform-origin: 18.7375px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_8*/

#LI_8:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_8:after*/

#LI_8:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_8:before*/

#A_9 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 37.475px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 18.7375px 42.4px;
    transform-origin: 18.7375px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_9*/

#A_9:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 37.475px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 18.7375px 1px;
    transform-origin: 18.7375px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgba(191, 150, 65, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_9:after*/

#A_9:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_9:before*/

#LI_10 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 44.9875px;
    perspective-origin: 22.4875px 42.4px;
    transform-origin: 22.4875px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_10*/

#LI_10:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_10:after*/

#LI_10:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_10:before*/

#A_11 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 44.9875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 22.4875px 42.4px;
    transform-origin: 22.4875px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_11*/

#A_11:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 44.9875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 22.4875px 1px;
    transform-origin: 22.4875px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgba(191, 150, 65, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_11:after*/

#A_11:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_11:before*/

#LI_12 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 47.3875px;
    perspective-origin: 23.6875px 42.4px;
    transform-origin: 23.6875px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_12*/

#LI_12:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_12:after*/

#LI_12:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_12:before*/

#A_13 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 47.3875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 23.6875px 42.4px;
    transform-origin: 23.6875px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_13*/

#A_13:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 47.3875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 23.6875px 1px;
    transform-origin: 23.6875px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgb(191, 150, 65) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_13:after*/

#A_13:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_13:before*/

#LI_14 {
    box-sizing: border-box;
    height: 85px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 33px;
    perspective-origin: 16.5px 42.5px;
    transform-origin: 16.5px 42.5px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_14*/

#LI_14:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_14:after*/

#LI_14:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_14:before*/

#A_15 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 85px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 33px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 16.5px 42.5px;
    transform-origin: 16.5px 42.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 0px / 0px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_15*/

#A_15:after {
    background-position: 50% 50%;
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 85px;
    left: 0px;
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    width: 33px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 16.5px 42.5px;
    transform-origin: 16.5px 42.5px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("http://snobcoffee.vn/wp-content/themes/snob/images/logo.svg") no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 0px / 0px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_15:after*/

#A_15:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 0px / 0px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_15:before*/

#LI_16 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 79.6875px;
    perspective-origin: 39.8375px 42.4px;
    transform-origin: 39.8375px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_16*/

#LI_16:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_16:after*/

#LI_16:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_16:before*/

#A_17 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 79.6875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 39.8375px 42.4px;
    transform-origin: 39.8375px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_17*/

#A_17:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 79.6875px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 39.8375px 1px;
    transform-origin: 39.8375px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgba(191, 150, 65, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_17:after*/

#A_17:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_17:before*/

#LI_18 {
    box-sizing: border-box;
    height: 84.8px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 68.55px;
    perspective-origin: 34.275px 42.4px;
    transform-origin: 34.275px 42.4px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_18*/

#LI_18:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_18:after*/

#LI_18:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_18:before*/

#A_19 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 84.8px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 68.55px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 34.275px 42.4px;
    transform-origin: 34.275px 42.4px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_19*/

#A_19:after {
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: block;
    height: 2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 82.8px;
    width: 68.55px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 34.275px 1px;
    transform-origin: 34.275px 1px;
    caret-color: rgb(255, 255, 255);
    background: rgba(191, 150, 65, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_19:after*/

#A_19:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_19:before*/

#LI_20 {
    box-sizing: border-box;
    height: 43.2px;
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    width: 137.05px;
    perspective-origin: 68.525px 21.6px;
    transform-origin: 68.525px 21.6px;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_20*/

#LI_20:after {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_20:after*/

#LI_20:before {
    letter-spacing: -0.432px;
    min-height: auto;
    min-width: auto;
    font: normal normal 500 normal 16px / 85px GTW;
    list-style: none outside none;
}/*#LI_20:before*/

#A_21 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 43.2px;
    left: 0px;
    letter-spacing: -0.432px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 137.05px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 68.525px 21.6px;
    transform-origin: 68.525px 21.6px;
    caret-color: rgb(255, 255, 255);
    border: 2px solid rgb(191, 150, 65);
    font: normal normal 500 normal 16px / normal GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    transition: all 0.3s ease 0s;
}/*#A_21*/

#A_21:after {
    background-position: 50% 50%;
    bottom: 0px;
    color: rgb(255, 255, 255);
    content: ' ';
    display: inline-block;
    height: 9px;
    left: 0px;
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    width: 19px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 9.5px 4.5px;
    transform-origin: 9.5px 4.5px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) url("http://snobcoffee.vn/wp-content/themes/snob/images/arrow.svg") no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / normal GTW;
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_21:after*/

#A_21:before {
    color: rgb(255, 255, 255);
    letter-spacing: -0.432px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / normal GTW;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_21:before*/

#DIV_22 {
    bottom: 0px;
    box-sizing: border-box;
    height: 618.325px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1518.4px;
    perspective-origin: 759.2px 309.163px;
    transform-origin: 759.2px 309.163px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_22*/

#DIV_22:after {
    bottom: 0px;
    content: ' ';
    display: block;
    height: 618.325px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1518.4px;
    perspective-origin: 759.2px 309.163px;
    transform-origin: 759.2px 309.163px;
    background: rgba(0, 0, 0, 0.65) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_22:after*/

#DIV_22:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_22:before*/

#IMG_23 {
    box-sizing: border-box;
    height: 618.325px;
    vertical-align: middle;
    width: 1518.4px;
    perspective-origin: 759.2px 309.163px;
    transform-origin: 759.2px 309.163px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#IMG_23*/

#IMG_23:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#IMG_23:after*/

#IMG_23:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#IMG_23:before*/

#DIV_24 {
    bottom: 0px;
    box-sizing: border-box;
    height: 0px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1024px;
    perspective-origin: 512px 0px;
    transform-origin: 512px 0px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 0px 247.2px;
}/*#DIV_24*/

#DIV_24:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_24:after*/

#DIV_24:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_24:before*/

#DIV_25 {
    background-position: 50% 50%;
    bottom: 80px;
    box-sizing: border-box;
    height: 76px;
    left: 110px;
    position: absolute;
    right: 614px;
    top: -156px;
    width: 300px;
    z-index: 1;
    perspective-origin: 150px 38px;
    transform-origin: 150px 38px;
    background: rgba(0, 0, 0, 0) url("http://snobcoffee.vn/wp-content/themes/snob/images/category-name-bg.png") no-repeat scroll 50% 50% / cover padding-box border-box;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_25*/

#DIV_25:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_25:after*/

#DIV_25:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_25:before*/

    #SPAN_26 {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        display: block;
        height: 85px;
        letter-spacing: -2.176px;
        text-decoration: none solid rgb(255, 255, 255);
        width: 300px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 150px 42.5px;
        transform-origin: 150px 42.5px;
        caret-color: rgb(255, 255, 255);
        border: 3px solid rgb(191, 150, 65);
        font: normal normal 700 normal 64px / 64px GTW;
        margin: -20px -15px 0px 15px;
        outline: rgb(255, 255, 255) none 0px;
        padding: 0px 15px 15px;
}/*#SPAN_26*/

#SPAN_26:after {
    color: rgb(255, 255, 255);
    letter-spacing: -2.176px;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 64px / 64px GTW;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_26:after*/

#SPAN_26:before {
    color: rgb(255, 255, 255);
    letter-spacing: -2.176px;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 64px / 64px GTW;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_26:before*/

#STYLE_27, #SCRIPT_73, #SCRIPT_75 {
    box-sizing: border-box;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#STYLE_27, #SCRIPT_73, #SCRIPT_75*/

#STYLE_27:after, #SCRIPT_73:after, #SCRIPT_75:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#STYLE_27:after, #SCRIPT_73:after, #SCRIPT_75:after*/

#STYLE_27:before, #SCRIPT_73:before, #SCRIPT_75:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#STYLE_27:before, #SCRIPT_73:before, #SCRIPT_75:before*/

#DIV_28 {
    box-sizing: border-box;
    height: 368.4px;
    width: 1518.4px;
    perspective-origin: 759.2px 184.2px;
    transform-origin: 759.2px 184.2px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_28*/

#DIV_28:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_28:after*/

#DIV_28:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_28:before*/

#DIV_29 {
    box-sizing: border-box;
    height: 368.4px;
    width: 1024px;
    perspective-origin: 512px 184.2px;
    transform-origin: 512px 184.2px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 0px 247.2px;
}/*#DIV_29*/

#DIV_29:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_29:after*/

#DIV_29:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_29:before*/

#DIV_30 {
    box-sizing: border-box;
    display: flex;
    height: 368.4px;
    width: 1024px;
    align-items: flex-start;
    justify-content: space-between;
    perspective-origin: 512px 184.2px;
    transform-origin: 512px 184.2px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 50px 0px 120px;
    padding: 0px 90px;
}/*#DIV_30*/

#DIV_30:after {
    clear: both;
    content: '"' '"';
    display: block;
    height: 0px;
    min-height: auto;
    min-width: auto;
    visibility: hidden;
    width: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 0px / 0px GTW;
}/*#DIV_30:after*/

#DIV_30:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_30:before*/

#DIV_31 {
    box-sizing: border-box;
    height: 368.4px;
    min-height: auto;
    min-width: auto;
    width: 330px;
    perspective-origin: 165px 184.2px;
    transform-origin: 165px 184.2px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_31*/

#DIV_31:after {
    clear: both;
    content: '"' '"';
    display: block;
    height: 0px;
    visibility: hidden;
    width: 330px;
    perspective-origin: 165px 0px;
    transform-origin: 165px 0px;
    font: normal normal 400 normal 0px / 0px GTW;
}/*#DIV_31:after*/

#DIV_31:before {
    min-height: auto;
    min-width: auto;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_31:before*/

#DIV_32 {
    box-sizing: border-box;
    height: 290px;
    unicode-bidi: isolate;
    width: 330px;
    perspective-origin: 165px 145px;
    transform-origin: 165px 145px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_32*/

#DIV_32:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_32:after*/

#DIV_32:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_32:before*/

#DIV_33 {
    bottom: -206.925px;
    box-sizing: border-box;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: 337.2px;
    position: absolute;
    right: 1180.2px;
    top: 668.325px;
    width: 1px;
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    font: normal normal 400 normal 16px / 16px GTW;
    overflow: hidden;
}/*#DIV_33*/

#DIV_33:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_33:after*/

#DIV_33:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_33:before*/

#FORM_34 {
    box-sizing: border-box;
    height: 290px;
    width: 330px;
    perspective-origin: 165px 145px;
    transform-origin: 165px 145px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 0px;
}/*#FORM_34*/

#FORM_34:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#FORM_34:after*/

#FORM_34:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#FORM_34:before*/

#DIV_35 {
    box-sizing: border-box;
    display: none;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_35*/

#DIV_35:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_35:after*/

#DIV_35:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_35:before*/

#INPUT_36, #INPUT_37, #INPUT_39 {
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}/*#INPUT_36, #INPUT_37, #INPUT_39*/

#INPUT_36:after, #INPUT_37:after, #INPUT_39:after {
    cursor: default;
}/*#INPUT_36:after, #INPUT_37:after, #INPUT_39:after*/

#INPUT_36:before, #INPUT_37:before, #INPUT_39:before {
    cursor: default;
}/*#INPUT_36:before, #INPUT_37:before, #INPUT_39:before*/

#INPUT_38, #INPUT_40 {
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}/*#INPUT_38, #INPUT_40*/

#INPUT_38:after, #INPUT_40:after {
    cursor: default;
}/*#INPUT_38:after, #INPUT_40:after*/

#INPUT_38:before, #INPUT_40:before {
    cursor: default;
}/*#INPUT_38:before, #INPUT_40:before*/

#P_41, #P_44, #P_47 {
    box-sizing: border-box;
    height: 50px;
    width: 330px;
    perspective-origin: 165px 25px;
    transform-origin: 165px 25px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 0px;
}/*#P_41, #P_44, #P_47*/

#P_41:after, #P_44:after, #P_47:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#P_41:after, #P_44:after, #P_47:after*/

#P_41:before, #P_44:before, #P_47:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#P_41:before, #P_44:before, #P_47:before*/

#SPAN_42, #SPAN_45, #SPAN_48, #SPAN_51 {
    bottom: 0px;
    box-sizing: border-box;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SPAN_42, #SPAN_45, #SPAN_48, #SPAN_51*/

#SPAN_42:after, #SPAN_45:after, #SPAN_48:after, #SPAN_51:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SPAN_42:after, #SPAN_45:after, #SPAN_48:after, #SPAN_51:after*/

#SPAN_42:before, #SPAN_45:before, #SPAN_48:before, #SPAN_51:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SPAN_42:before, #SPAN_45:before, #SPAN_48:before, #SPAN_51:before*/

#INPUT_43, #INPUT_46 {
    color: rgb(51, 51, 51);
    display: block;
    height: 50px;
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 330px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 165px 25px;
    transform-origin: 165px 25px;
    caret-color: rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1.5px solid rgb(191, 150, 65);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_43, #INPUT_46*/

#INPUT_43:after, #INPUT_46:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_43:after, #INPUT_46:after*/

#INPUT_43:before, #INPUT_46:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_43:before, #INPUT_46:before*/

#INPUT_49 {
    color: rgb(51, 51, 51);
    display: block;
    height: 50px;
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 330px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 165px 25px;
    transform-origin: 165px 25px;
    caret-color: rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1.5px solid rgb(191, 150, 65);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#INPUT_49*/

#INPUT_49:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_49:after*/

#INPUT_49:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 50px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_49:before*/

#P_50 {
    box-sizing: border-box;
    height: 110px;
    width: 330px;
    perspective-origin: 165px 55px;
    transform-origin: 165px 55px;
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 0px;
}/*#P_50*/

#P_50:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#P_50:after*/

#P_50:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#P_50:before*/

#TEXTAREA_52 {
    color: rgb(51, 51, 51);
    display: block;
    height: 110px;
    letter-spacing: -1.5px;
    resize: none;
    text-decoration: none solid rgb(51, 51, 51);
    width: 330px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 165px 55px;
    transform-origin: 165px 55px;
    caret-color: rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1.5px solid rgb(191, 150, 65);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / normal monospace;
    margin: 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#TEXTAREA_52*/

#TEXTAREA_52:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / normal monospace;
    outline: rgb(51, 51, 51) none 0px;
}/*#TEXTAREA_52:after*/

#TEXTAREA_52:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / normal monospace;
    outline: rgb(51, 51, 51) none 0px;
}/*#TEXTAREA_52:before*/

    #P_53 {
        bottom: 0px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        cursor: pointer;
        float: right;
        height: 38.4px;
        left: 0px;
        position: relative;
        right: 0px;
        text-decoration: none solid rgb(51, 51, 51);
        top: 0px;
        width: 100px;
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 50px 19.2px;
        transform-origin: 50px 19.2px;
        caret-color: rgb(51, 51, 51);
        border: 2px solid rgb(191, 150, 65);
        border-radius: 1px 1px 1px 1px;
        font: normal normal 500 normal 16px / 16px GTW;
        margin: 30px 0px 0px;
        outline: rgb(51, 51, 51) none 0px;
        padding: 10px 20px 8px;
        transition: all 0.3s ease 0s;
}/*#P_53*/

#P_53:after {
    background-position: 50% 50%;
    bottom: 2px;
    color: rgb(51, 51, 51);
    content: ' ';
    cursor: pointer;
    display: inline-block;
    height: 9px;
    left: 30px;
    position: relative;
    right: -30px;
    text-decoration: none solid rgb(51, 51, 51);
    top: -2px;
    width: 19px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 9.5px 4.5px;
    transform-origin: 9.5px 4.5px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("http://snobcoffee.vn/wp-content/themes/snob/images/arrow.svg") no-repeat scroll 50% 50% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 16px / 16px GTW;
    margin: 0px 0px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease 0s;
}/*#P_53:after*/

#P_53:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 16px / 16px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_53:before*/

#INPUT_54 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: default;
    display: block;
    height: 34.4px;
    left: 0px;
    letter-spacing: -0.54px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    white-space: pre;
    width: 96px;
    column-rule-color: rgb(51, 51, 51);
    align-items: flex-start;
    perspective-origin: 48px 17.2px;
    transform-origin: 48px 17.2px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 18px / 18px Arial;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 0px 0px 20px;
}/*#INPUT_54*/

#INPUT_54:after {
    color: rgb(51, 51, 51);
    cursor: default;
    letter-spacing: -0.54px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: pre;
    column-rule-color: rgb(51, 51, 51);
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 18px / 18px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_54:after*/

#INPUT_54:before {
    color: rgb(51, 51, 51);
    cursor: default;
    letter-spacing: -0.54px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    white-space: pre;
    column-rule-color: rgb(51, 51, 51);
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 18px / 18px Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#INPUT_54:before*/

#SPAN_55 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: middle;
    visibility: hidden;
    width: 16px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("http://snobcoffee.vn/wp-content/plugins/contact-form-7/images/ajax-loader.gif") repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 16px / 16px GTW;
    margin: 0px 0px 0px 4px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_55*/

#SPAN_55:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 16px / 16px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_55:after*/

#SPAN_55:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 normal 16px / 16px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_55:before*/

#DIV_56 {
    box-sizing: border-box;
    display: none;
    border: 2px solid rgb(255, 0, 0);
    font: normal normal 400 normal 16px / 16px GTW;
    margin: 32px 8px 16px;
    padding: 3.2px 16px;
}/*#DIV_56*/

#DIV_56:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_56:after*/

#DIV_56:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_56:before*/

#DIV_57 {
    box-sizing: border-box;
    height: 365.2px;
    min-height: auto;
    min-width: auto;
    width: 340px;
    perspective-origin: 170px 182.6px;
    transform-origin: 170px 182.6px;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_57*/

#DIV_57:after {
    min-height: auto;
    min-width: auto;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_57:after*/

#DIV_57:before {
    min-height: auto;
    min-width: auto;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#DIV_57:before*/

#H3_58, #H3_63, #H3_68 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 34.4px;
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 340px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 170px 17.2px;
    transform-origin: 170px 17.2px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_58, #H3_63, #H3_68*/

#H3_58:after, #H3_63:after, #H3_68:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_58:after, #H3_63:after, #H3_68:after*/

#H3_58:before, #H3_63:before, #H3_68:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#H3_58:before, #H3_63:before, #H3_68:before*/

#STRONG_59, #SPAN_60, #SPAN_64, #SPAN_69 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_59, #SPAN_60, #SPAN_64, #SPAN_69*/

#STRONG_59:after, #SPAN_60:after, #SPAN_64:after, #SPAN_69:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_59:after, #SPAN_60:after, #SPAN_64:after, #SPAN_69:after*/

#STRONG_59:before, #SPAN_60:before, #SPAN_64:before, #SPAN_69:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_59:before, #SPAN_60:before, #SPAN_64:before, #SPAN_69:before*/

#P_61 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 56px;
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 340px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 170px 28px;
    transform-origin: 170px 28px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    margin: 0px 0px 50px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_61*/

#P_61:after {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_61:after*/

#P_61:before {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_61:before*/

#SPAN_62, #SPAN_67, #SPAN_72 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_62, #SPAN_67, #SPAN_72*/

#SPAN_62:after, #SPAN_67:after, #SPAN_72:after {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_62:after, #SPAN_67:after, #SPAN_72:after*/

#SPAN_62:before, #SPAN_67:before, #SPAN_72:before {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_62:before, #SPAN_67:before, #SPAN_72:before*/

#B_65, #B_70 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#B_65, #B_70*/

#B_65:after, #B_70:after {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#B_65:after, #B_70:after*/

#B_65:before, #B_70:before {
    color: rgb(51, 51, 51);
    letter-spacing: -1.704px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 24px / 35px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#B_65:before, #B_70:before*/

#P_66, #P_71 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 28px;
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    width: 340px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 170px 14px;
    transform-origin: 170px 14px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    margin: 0px 0px 50px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_66, #P_71*/

#P_66:after, #P_71:after {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_66:after, #P_71:after*/

#P_66:before, #P_71:before {
    color: rgb(51, 51, 51);
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 20px / 28px GTW;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_66:before, #P_71:before*/

#SCRIPT_74 {
    box-sizing: border-box;
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SCRIPT_74*/

#SCRIPT_74:after {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SCRIPT_74:after*/

#SCRIPT_74:before {
    font: normal normal 400 normal 16px / 16px GTW;
}/*#SCRIPT_74:before*/

